<div class="container">
  <div class="example ngif-example">
    <h3>*ngIf Example</h3>
    <hr>
    <div class="example-panel">
      <div class="code-highlight" highlightChildren>
        <pre><code [highlight]="code1"></code></pre>
      </div>
      <div>
        <div class="result">
          <!-- TODO: Write Code to Here -->
        </div>
      </div>
    </div>
  </div>

  <div class="example ngfor-example">
    <h3>*ngFor Example</h3>
    <hr>
    <div class="example-panel">
      <div class="code-highlight" highlightChildren>
        <pre><code [highlight]="code2"></code></pre>
      </div>
      <div>
        <div class="result">
          <!-- TODO: Write Code to Here -->
        </div>
      </div>
    </div>
  </div>

  <div class="example ngfor-example">
    <h3>ngSwitch Example</h3>
    <hr>
    <div class="example-panel">
      <div class="code-highlight" highlightChildren>
        <pre><code [highlight]="code3"></code></pre>
      </div>
      <div>
        <div class="result">
          <!-- TODO: Write Code to Here -->
        </div>
      </div>
    </div>
  </div>
</div>
