<div class="sidebar">
  <ul class="list">
    <li class="logo">
      <a [routerLink]="['/welcome']" >
        <img src="../../assets/images/angular.png" width="80">
      </a>
    </li>
    <li class="item">
      <a [routerLink]="['/structural-directives']" routerLinkActive="item-active" >結構指令</a>
    </li>
    <li class="item">
      <a [routerLink]="['/communication']" routerLinkActive="item-active" >component溝通</a>
    </li>
    <li class="item">
      <a [routerLink]="['/form-builder']" routerLinkActive="item-active" >表單建立</a>
    </li>
    <li class="item">
      <a [routerLink]="['/routing']" routerLinkActive="item-active" >路由Router與導覽</a>
    </li>
    <li class="item">
      <a [routerLink]="['/service-example']" routerLinkActive="item-active" >Service建立</a>
    </li>
    <li class="item">
      <a [routerLink]="['/directive-example']" routerLinkActive="item-active" >Directive建立</a>
    </li>
    <li class="item">
      <a [routerLink]="['/pipe-example']" routerLinkActive="item-active" >Pipe建立</a>
    </li>
    <li class="item">
      <a [routerLink]="['/guard-example']" routerLinkActive="item-active" >Guard建立</a>
    </li>
    <li class="item">
      <a [routerLink]="['/module-example']" routerLinkActive="item-active" >Module建立</a>
    </li>
    <li class="item">
      <a [routerLink]="['/i18n-example']" routerLinkActive="item-active" >i18n</a>
    </li>
    <li class="item">
      <a [routerLink]="['/library-usage']" routerLinkActive="item-active" >Library Usage</a>
    </li>
  </ul>
</div>
