<div class="container">
  <div class="example">
    <h3>@Input() Example</h3>
    <hr>
    <div class="example-panel">
      <div class="code-highlight" highlightChildren>
        <pre><code [highlight]="code1"></code></pre>
      </div>
      <div>
        <div class="result">
          <!-- TODO: Write Code to Here -->
        </div>
      </div>
    </div>
  </div>

  <div class="example">
    <h3>@Output() Example</h3>
    <hr>
    <div class="example-panel">
      <div class="code-highlight" highlightChildren>
        <pre><code [highlight]="code2"></code></pre>
      </div>
      <div>
        <div class="result">
          <!-- TODO: Write Code to Here -->
        </div>
      </div>
    </div>
  </div>
</div>
